@charset "ISO-8859-1";

body {
	  font-family: Arial, Helvetica, sans-serif;
}

/* Set a style for all buttons */
button {
	font-family: 'Roboto', sans-serif;
	background-color: #00aeda;
	border: 1px solid #00aeda;
	border-radius: 0;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding: 20px 42px;
	text-transform: uppercase;
	outline: none;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.btn-action {
	font-family: 'Roboto', sans-serif;
	background-color: #00aeda;
	border: 1px solid #00aeda;
	border-radius: 0;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding: 20px 42px;
	text-transform: uppercase;
	outline: none;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action:active:focus
	{
	background: transparent;
	outline: none;
	color: #00aeda;
	background: transparent;
	border-color: #00aeda;
}

.product .btn-action {
	background-color: transparent;
	border: 1px solid #82714a;
	color: #82714a;
}

.product .btn-action:hover, .product  .btn-action:focus {
	background: #92714A;
	color: #FFFFFF;
	border-color: #82714A;
}

input[type=text] {
	width: auto;
	padding: 7px 5px;
	margin: 4px 0;
}

input[type=password] {
	width: auto padding: 7px 5px;
	margin: 4px 0;
	box-sizing: border-box;
}